<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item-divider></ion-item-divider>
    <ion-item-group *ngFor="let item of dataList">
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-left">
              <h4>{{item.color}}</h4>
            </ion-col>
            <ion-col class="ion-text-right">
              <h4 class="medium">{{item.value}}</h4>
              <ion-icon name="calendar-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
